.homeContainer{
    background-image: url("../../../public/img/homeBack.jpg");
    background-position: center;
    background-size: cover;
}
.homeBtn{
    border: 2px solid #fff;
    background-color: #12121288 !important;
}
