*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: background .5s linear;
  animation: slideIn .5s ease-in-out;
}
body{
  /*background-color: #121212 !important;*/
}
.warpper{
  height: calc(100vh - 57px) !important;
}
.pageWrapper{
  height: calc(100vh - 114px) !important;
}
@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.glassMorphism{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 256, 254, 256, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}