*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: background .5s linear;
}
html{
  background-color: #121212;
}
.warpper{
  height: calc(100vh - 57px) !important;
}