*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: background .5s linear;
  animation: slideIn .5s ease-in-out;
}
body{
  background-color: #121212 !important;
}
.warpper{
  height: calc(100vh - 57px) !important;
}
.pageWrapper{
  height: calc(100vh - 114px) !important;
}
@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}